.navbar {
    grid-area: MN;
    background: var(--primary);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    h4 {
        font-size: 18px;
        font-weight: 400;
        padding: 30px;
        color: var(--white);

        i {
            margin-right: 8px
        }
    }

    ul  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 30px; 

        li  {
            display: flex;
            align-items: center;

            width: inherit;
            padding: 10px 15px;
            background: var(--secondary);
            border-bottom: 4px solid var(--primary);
            
            color: var(--white);
            font-size: 14px;
            cursor: pointer;        

            transition: opacity .1s;

            i {
                margin-right: 5px;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }

    button {
        margin-top: auto;
        padding: 50px;
        background: inherit;
        color: var(--white);
        font-size: 18px;

        i {
            margin-left: 15px
        }
    }
}